.emoji_picker
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 20rem;
	height: 20rem;
	max-width: 100%;
}

.emoji_picker,
.emoji_picker .bottom_arrow
{
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, .0975);
}

.emoji_picker,
.emoji_picker .picker_container
{
	border-radius: 0.5rem;
	background: white;
}

.emoji_picker .picker_container
{
	position: relative;
	padding: 1rem;
	overflow: auto;
	z-index: 1;
}

.emoji_picker .category
{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	color: rgb(165 165 165);
}

.emoji_picker .emojis_container
{
	display: flex;
	flex-wrap: wrap;
}

.emoji_picker .category button
{
	margin: 0.5rem;
	margin-left: 0;
	background: inherit;
	border: none;
	font-size: 1.75rem;
	padding: 0;
	cursor: pointer;
}

.emoji_picker .bottom_arrow
{
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0.75rem;
	height: 0.75rem;
	transform: translate(-50%, 50%) rotate(45deg);
	background: white;
}